@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #f3f3f1;
  --foreground: #171717;

  --blue1: #092327;
  --blue2: #075c80;
  --blue3: #21acd2;
  --gray1: #192124;
  --gray2: #7599a3;
  --gray3: #e7e7e4;
  --gray4: #f3f3f1;
  --green1: #324222;
  --green2: #b7bf43;
  --green3: #b7bf43;
  --brown1: #373420;
  --brown2: #ae8c60;
  --brown3: #eddcc5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-blue-dark: var(--#21ACD2);

  /* Blue */

  --color-blue1: var(--blue1);
  --color-blue2: var(--blue2);
  --color-blue3: var(--blue3);

  /* Gray */
  --color-gray1: var(--gray1);
  --color-gray2: var(--gray2);
  --color-gray3: var(--gray3);
  --color-gray4: var(--gray4);

  /* Green */
  --color-green1: var(--green1);
  --color-green2: var(--green2);
  --color-green3: var(--green3);

  /* Brown */
  --color-brown1: var(--brown1);
  --color-brown2: var(--brown2);
  --color-brown3: var(--brown3);

  /* Font */
  
  --font-title: "Fraunces", serif;
  --font-body: "Archivo Narrow", sans-serif;

  --color-title: var(--blue3);
  --color-body: var(--blue1);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
