@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #F3F3F1;
  --foreground: #171717;

  --blue1: #092327;
  --blue2: #075c80;
  --blue3: #21acd2;
  --gray1: #192124;
  --gray2: #7599a3;
  --gray3: #e7e7e4;
  --gray4: #f3f3f1;
  --green1: #324222;
  --green2: #b7bf43;
  --green3: #b7bf43;
  --brown1: #373420;
  --brown2: #ae8c60;
  --brown3: #eddcc5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-blue-dark: var(--#21ACD2);

  --font-serif: "Fraunces", serif;
  --font-body: "Archivo Narrow", sans-serif;

  --textcolor-title: var(--blue3);
  --textcolor-body: var(--blue1);
  --textcolor-title: var(--blue3);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
